@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: math;
}

@theme {
  --color-bgprimary: #FFFFFF;
  --color-bgsecondary: #F3F3F3;
  --color-bglight: #1E1E1E;
  --color-textprimary: #121212;
  --color-textsecondary: #4F4F4F;
  --breakpoint-*: initial;
  --breakpoint-mobile: 0rem;
  --breakpoint-laptop: 55rem;
}

.dark {
  --color-bgprimary: #121212;
  --color-bgsecondary: #0A0A0A;
  --color-bglight: #f3f3f3;
  --color-textprimary: #FFFFFF;
}